<h1>Change password</h1>
<form novalidate class="simple-form">
	<div class="form-group">
		<label for="newpassword1">New password:</label>
		<input type="password" name="newpassword1" class="form-control" ng-model="user.newpassword1" placeholder="New password" required />
	</div>
	<div class="form-group">
		<label for="newpassword2">Again:</label>
		<input type="password" name="newpassword2" class="form-control" ng-model="user.newpassword2" placeholder="New password - confirmation" required />
	</div>
	<input type="button" value="Change password" class="btn btn-default" ng-click="changePassword()" />
</form>