<h1>Login</h1>

<p>
	<a href="" class="btn btn-info" role="button" ng-click="loginWithGitHub();">Login/Register with GitHub</a>
</p>

<form novalidate class="simple-form">
	<div class="form-group">
		<label for="email">Email:</label>
		<input type="text" name="email" class="form-control" ng-model="user.email" placeholder="Email" required />
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required />
	</div>
	<input type="button" value="Login" class="btn btn-default" ng-click="login()" />
</form>