<h1>{{poll.name}}</h1>

<div ng-repeat="question in poll.questions track by $index">
	<data ng-init="parentIndex=$index"/>

	<div class="row">
		<h3>{{parentIndex + 1}}. {{question.name}}</h3>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<table class="table">
				<thead>
					<tr>
						<th>Answer</th>
						<th>Votes</th>
						<th>Users</th>
						<th ng-if="question.allowAnonymous">Anonymous votes</th>
						<th>Who</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="answer in question.answers">
						<td>{{answer.name}}</td>
						<td>{{answer.users.length}}</td>
						<td>{{answer.distinctUsers.length}}<span ng-if="question.allowAnonymous"> (+ ?)</span></td>
						<td ng-if="question.allowAnonymous">{{answer.anonymousAnswersCount}}</td>
						<td>
							<ul>
								<li ng-repeat="user in answer.distinctUsers">
								x{{user.voted}} : {{user.firstname}} {{user.lastname}} - {{user.email}}
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-lg-4">
			<canvas class="chart chart-doughnut" chart-options="graphOptions" chart-data="question.graph.values" chart-labels="question.graph.labels"></canvas> 
		</div>
		
		<div class="col-lg-2">
			<canvas ng-attr-id="{{ 'participationchart' + parentIndex}}"></canvas>
		</div>
	</div>
</div>