doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title= title
		block css
			link(rel='stylesheet', href='/sp/res/css/bootstrap_default.min.css')

	body
		div(class='container')
			block content
